* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  font-size: 50px;
  font-weight: bold;
}

.bracket {
  color: white;
}

.orange {
  color: orange;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

nav ul li.active {
  color: orange;
}

.search-icon {
  font-size: 18px;
}

.secondsection {
  height: 50%;
  width: 50%;
  font-size: 15px;
  background-color: #000;
  padding-top: 19px;
  padding-bottom: 120px;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}
.secondsectionpartone {
  width: 50%;
  height: 50%;

  font-size: 15px;
  color: #5d5d5d;
  padding: 0px 15px;
}
.secondsectionparttwo img {
  height: 50%;
  width: 50%;
  border-radius: 50%px;
}
.hero {
  display: flex;
  height: 90vh;
}

.hero-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  flex-direction: column;
}

.hero-left h1 {
  background-image: url(images/slider-1-bg-1.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-size: 64px;
  line-height: 1.2;
  margin-top: 20px;
}

.hero-right {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.hero-right img {
  width: 50%;
  height: 90%;
  object-fit: fit;
  filter: grayscale(100%);
}

.image-overlay {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 10px,
    transparent 10px,
    transparent 20px
  );
  pointer-events: none;
}
button {
  color: white;
  background-color: orange;
  padding: 20px 50px;
  border: 1px solid orangered;
  align-items: self-start;
  margin-right: 50px;
  font-size: 20px;
  margin-top: 20px;
}
footer {
  display: flex;
  flex-direction: row;
  gap: 170px;
  width: 100%;
  height: 50%;

  border-top: 1px solid gray;
  background-color: #101010;
}
.lastpart a {
  display: flex;
  flex-direction: column;
  display: block;
  color: gray;
  text-decoration: none;
  margin-top: 20px;
}
.thirdpart a {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-decoration: none;
  color: gray;
  display: block;
}
.lastsection p {
  color: gray;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 50px;
}
.lastsection h1 {
  margin-left: 50px;
}
.footerup {
  width: 100%;
  height: auto; /* better than fixed 30% */
  color: #5d5d5d;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  padding: 60px 0 105px;
  background-color: #101010;
  display: flex;
  justify-content: center;
}

.footerupcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 500px;
}

.logo img {
  max-width: 150px;
}
.social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.social-links a {
  color: white;
  margin: 0 5px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a:hover {
  color: #ffffff;
  display: flex;
}
